<md-content>
    <div ng-hide="vm.libraryComputerAvailabilityList" layout="row" layout-align="center center">
        <br><br>
        <pre>There is no computer lab for this library.</pre>

        <br><br>
    </div>

    <md-list flex>
        <div ng-repeat="(level,value) in vm.libraryComputerAvailabilityList.availability">
            <md-subheader class="md-no-sticky">{{level}}</md-subheader>
            <md-list-item class="md-3-line" aria-label="computer availability">
                <div class="md-list-item-text" layout="column">
                    <md-body-2>Room Code: {{ value.roomCode }}</md-body-2>
                    <md-body-2>Available: {{ value.Available }}</md-body-2>
                    <md-body-2>Occupied: {{ value.Occupied }}</md-body-2>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-divider></md-divider>
            <md-divider></md-divider>
        </div>
    </md-list>
</md-content>
