<md-content flex="100" layout="row" layout-wrap>
    <div ng-repeat="comp in vm.computers" flex-gt-xs="50" flex-gt-lg="33" layout-wrap>
            <md-card>
                <md-card-content>
                    <div layout="row" layout-wrap>
                        <div flex="50" flex-xs="100" class="departments">
                            <h5>{{comp.library}}</h5>
                            <div ng-repeat="(levelKey,levelValue) in comp.availability">
                                <p>{{levelKey}} -
                                    {{levelValue.Available}}/{{levelValue.Occupied+levelValue.Available}}</p>

                            </div>
                        </div>
                    </div>
                </md-card-content>

            </md-card>

    </div>
</md-content>